<table cellpadding=5 cellspacing=0 border=0>
	<tr>
		<td>
			<table cellpadding=0 cellspacing=0 border=0 width=150>
				<% for book in @books %>
					<%= render :partial => "book", :locals => { :book => book } %>
				<% end %>
			</table>
		</td>
	</tr>
</table>
