<tr>
	<td>
		<nobr>
			<font size=-1>
				<%= link_to(book.name, {controller: "index", action: "readverse", id: book.verses.first.id, marked: 1}, :onMouseover => "loadwindow(#{book.id})") %>
			</font>
		</nobr>
	</td>
</tr>

