<%= form_tag("/index/search", method: "post") do %>
	<%= label_tag(:input, "Search for:") %>
	<%= text_field_tag(:input, @input, :size => 100) %>
	<%= submit_tag("Click here to Search") %>
	<%= hidden_field_tag(:marked, "1") %>
	<%= select_tag(:restrictive, options_for_select([['Unrestrictive Search *', 0], ['Restrictive Search *', 1]], @restrictive)) %>
<% end %>
<font size=-1>
<p>* Note:<BR>
Unrestrictive Search meens that the search will search for any of the words in the verse.<BR>
Restrictive Search means that the verse must contain ALL the words.
</p></font>     
