<table cellpadding=0 border=0 cellspacing=0>
	<tr>
		<td valign=top>
			<%= render :partial => "bookstable" %>
		</td>
		</td><td valign=top>
			<% if @input || @verses || @readverses %>
				<%= render :partial => "inputform" %>
				<%= render :partial => "verses" %>
				<br/>
			<% end %>
			<%= render :partial => "inputform" %>
		</td>
	</tr>
</table>
