	<% c = 0 %>
	<% for word in @words %>
		<b style="color:black;background-color:#<%= @colors[c % @colors.count].tag %>"><%= word %></b> 
		<% c = c + 1 %>
	<% end %>
	<br/>

	<table width=100% border=1 cellpadding=1 cellspacing=1>
		<tr>
			<td>Read More</td>
			<td>Book</td>
			<td>Verse</td>
			<td>Text</td>
		</tr>
	<% for verse in verses %>
		<tr>
			<td><nobr><%= link_to("Read More", controller: "index", action: "readverse", id: verse.id, marked: 1) %></nobr></td>
			<td><nobr><%= verse.book.name %></nobr></td>
			<td><%= verse.chapter_number.to_s + ":" + verse.verse_number.to_s %></td>
			<% 
				vtext = verse.verse_text
				c = 0
				for word in @words
					vtext = vtext.gsub(word.capitalize, "<b style=\"color:black;background-color:#" + @colors[c % @colors.count].tag + ";\">" + word.capitalize + "</b>")
					vtext = vtext.gsub(word, "<b style=\"color:black;background-color:#" + @colors[c % @colors.count].tag + ";\">" + word + "</b>")
					c = c + 1
				end %>
			<td><%= vtext.html_safe %></td>
		</tr>
	<% end %>
	</table>

