<% if @verses %>
	<%= render :partial => "verses_search", :locals => { :verses => @verses } %>
<% elsif @readverses %>
	<%= will_paginate @readverses %>
	<%= render :partial => "verses_table" %>
	<%= will_paginate @readverses %>
<% else %>
	There were no results in your query<br/>
<% end %>
