<table width=100% border=1 cellpadding=1 cellspacing=1>
	<tr>
		<td>Book</td>
		<td>Verse</td>
		<td>Text</td>
	</tr>
	<% if !defined? oldbookname then oldbookname = @readverses.first.book.name end %>
	<% if !defined? oldchapter then oldchapter = @readverses.first.chapter_number end %>
	<% for verse in @readverses %>
		<% if @marked
			color = "bgcolor=00ff00"
		else 
			color = ""
		end %>

		<% if verse.chapter_number == 1 && verse.verse_number == 1 %>
			<tr><td colspan=3 align=center><h1><%= verse.book.name %></h1></td></tr>
			<tr><td colspan=3 align=center><h1>Chapter <%= verse.chapter_number %></h1></td></tr>
		<% end %>
		<% if oldchapter != verse.chapter_number && verse.chapter_number > 1 %>
			<tr><td colspan=3 align=center><h1>Chapter <%= verse.chapter_number %></h1></td></tr>
		<% end %>
		<% if verse.id == @id.to_i %>
			<tr <%= color %>>
		<% else %>
			<tr>
		<% end %>
				<td><nobr><%= verse.book.name %></nobr></td>
				<td><%= verse.chapter_and_verse %></td>
				<td><%= verse.verse_text %></td>
			</tr>
		<% oldbookname = verse.book.name %>
		<% oldchapter = verse.chapter_number %>
	<% end %>
</table>
