// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#draggable {
	position: absolute;
	display: none;
	border: 2px solid #a1a1a1;
	width: 300px;
	padding: 10px 0px 10px 35px;
	background: #dddddd;
	border-radius: 25px;
}

#draggableclose {
	position: relative;
	left: -10px;
	float: right;
}

#booksummary {
	left: -20px;
	top: -10px;
	position: relative;
}
